.Cards-Wrapper
{
    padding:0.2rem;
    width: 85%;
    flex-wrap:wrap;
}

.Light .Card-Cont
{
    background-color: var(--main-alt-white);
}

.Dark .Card-Cont
{
    background-color: var(--main-alt-black);
}

.Card-Cont
{
    min-width:28%;
    padding:1rem;
    transition:0.4s;
    margin:6rem 1rem;
    /* border-radius:2rem 2rem 0 0; */
}

.Card-Cont:hover
{
    transform: scale(1.02);
    box-shadow: 0 0 1px 1px red;
}

.Card-Cont .Member-Photo
{
    /* margin-top:-15rem; */
    width:20rem;
    height: 30rem;
    border-radius: 5px;
    object-fit:cover;
}

.Card-Cont span, .Socials
{
    background-color: transparent;
    margin:0.4rem;
}

.Socials
{
    margin:2rem 0;
}

.Socials span, .Socials a
{
    border-radius:50%;
    padding:0.8rem 1.2rem;
    transition:0.5s;
    margin:0 1rem;
    background-color: transparent;
}

.Socials span:hover, .Socials a:hover
{
    background-color: red;
    color:white;
}

.Card-Cont .text
{
    font-family: 'Barlow', sans-serif;
    font-size:1.2rem;
}

.Card-Cont .Member-Depart
{
    font-size: 1.5rem;
    font-weight: bolder;
    color:red;
}

