.Cards-Wrapper
{
    padding:0.2rem;
    width: 90%;
    flex-wrap:wrap;
}

.Light .Card-Cont{background-color: var(--main-alt-white);}

.Dark .Card-Cont{background-color: var(--main-alt-black);}

.Card-Cont
{
    min-width:22rem;
    transition:0.2s;
    margin:4rem 1rem;
    overflow: hidden;
}

.Card-Cont:hover
{
    box-shadow: 0 0 20px 0.1px rgba(255,0,0,0.8);
}

.Card-Cont .Member-Photo
{
    width:22rem;
    height: 32rem;
    margin-bottom:0.5rem;
    border-radius: 5px;
    object-fit:cover;
    transition: 0.5s;
}

.Card-Cont .Member-Photo:hover
{
    transform:scale(1.02);
}

.Card-Cont .Member-Depart
{
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;
}


.Card-Cont .text
{
    font-family: 'Barlow', sans-serif;
    font-size:1.2rem;
}


