.Light .Contact-Wrapper{background-color:white;}
.Dark .Contact-Wrapper{background-color:black;}

.About-Us
{
    background-color: var(--main-theme-bg-col);
    color:white;
    margin:5rem;
    padding:2rem 4rem;
    border-radius:1rem;
}

.About-Us .page-title
{
    font-size:4rem;
    text-transform: capitalize;
}

.About-Us .About-Text
{
    margin:2rem 0;
    font-size:1.8rem;
    line-height: 3rem;
    font-weight: lighter;
    text-align:justify;
}

.Contact
{
    width: 100%;
    margin:3rem;
}

.Contact h2 
{
    margin:1.6rem;
}

.Contact .Contact-Text
{
    font-weight: bolder;
    font-size:1.7rem;
}

.Socials .btn
{
    font-size:4rem;
}

.Socials .btn:hover
{
    color:var(--main-white);
    background-color: var(--main-theme-bg-col);
}

