.Dark .Contribute{background-color: var(--main-black);}
.Light .Contribute{background-color: var(--main-white);}

.Light .Supp-Desc{color:var(--main-black);}
.Dark .Supp-Desc{color:var(--main-white);}

.Contribute .sub-title
{
    margin:3.2rem 0 0.2rem 0;
}

.Support-List, .Why-Us-List
{
    background-color: rgba(125,125,125,0.25);
    margin:2rem 0;
    width: 90%;
    padding:1rem;
    font-size:1.2rem;
}

.Supp-Item, .WhyUs-Item
{
    width: 90%;
    margin:0.8rem;
    border-bottom:2px solid red;
    padding:1rem;
}

.Supp-Title-Cont
{
    font-size:1.5rem;
    font-weight:bolder;
}

.Supp-Desc
{
    font-size: 1.4rem;
    font-weight:lighter;
    padding:1rem 0;
    text-align: justify;
}

.Pre-Spon-Cont, .Feat-Cont
{
    flex-wrap:wrap;
    width: 80%;
    padding: 2rem;
    background-color:white;
    margin:2rem 0;
}

.Contribute-Img
{
    width:12rem;
    margin:2.5rem;
}

