.Light .Footer{background-color: var(--main-alt-white);}
.Dark .Footer {background-color: var(--main-alt-black);}

.Footer
{
    padding:0.2rem;
    z-index:100;
}

.Footer-Content
{
    width:100%;
    padding:2rem 0.5rem;
}

.Footer h2
{
    text-transform: uppercase;
    margin:0.5rem;
}



