.Light .Footer {background-color: var(--main-alt-white);}
.Dark .Footer {background-color: var(--main-alt-black);}

.Footer
{
    z-index:100;
}

.Footer-Content
{
    flex-direction: column;
    width:100%;
}

.Footer-Content>div
{
    margin:2rem 0rem;
}

.Footer h2
{
    text-transform: uppercase;
    margin:0.5rem 0;
}

@media screen and (min-width:800px)
{
    .Footer-Content
    {
        flex-direction: row;
    }
}



