.Light .Footer{background-color: var(--main-alt-white);}
.Dark .Footer {background-color: var(--main-alt-black);}

.Footer
{
    z-index:1000;
}

.Footer-Content
{
    flex-direction: column;
    min-height: 60vh;
    width:100%;
    padding:2rem 0.5rem;
}

.Footer h2
{
    font-size:1.4rem;
    text-transform: uppercase;
    margin:0.5rem;
}

.Footer h2::first-letter
{
    font-size: 2.5rem;
}

@media screen and (min-width:800px)
{
    .Footer-Content
    {
        flex-direction: row;
        min-height: 20vh;
        height: fit-content;
    }
}



