.Light .Home-Page{background-color: var(--main-white);}
.Dark .Home-Page{background-color: var(--main-black);}

.Home-Page
{
    position: relative;
    z-index: -2;
}

.Home-Gallary-Cont
{
    position: absolute;
    left:0rem;
    top:8rem;
    background: #000;
    z-index: -1;
}

.Home-Page .page-title
{
    font-size: 6em;
    margin-top:7rem;
    letter-spacing: 0.7rem;
}

.Home-Page .sub-title
{
    margin-top:2rem;
    color:white;
}



.Desc-Text
{
    font-size:1.4rem;
    padding:0.8rem;
    color:var(--main-alt-black);
    margin-bottom:2rem;
    width: 90%;
    background-color: rgba(220, 220, 220, 0.8);
}

.Home-Gallary-Cont img
{
    width: 100%;
    opacity: 0.8;
}

@media screen and (max-width:800px) {
    .Home-Page .page-title
    {
        font-size: 4rem;
    }
    .Home-Page .sub-title
    {
        font-size: 1.6rem;
    }
    .Home-Page .Desc-Text
    {
        width: 100%;
        font-size: 1.1rem;
        text-align: justify;
    }
}