.Light .NavBar{background-color: var(--main-alt-white);}
.Dark .NavBar{background-color: var(--main-alt-black);}

nav
{
    position: relative;
    /* display: none; */
}
.NavBar
{
    z-index:100;
    width: 100%;
}

.Logo-Cont img
{
    margin:2rem 0;
    width:28rem;
    transition:0.5s;
}

.Logo-Cont img:hover
{
    transform:scale(0.95);
    transform:rotate(180deg);
}

.Nav-Item
{
    font-size: 1.2rem;
    color:var(--main-theme-text-alt-col);
    padding:1.2rem 0.3rem;
    margin:0.6rem 0.1rem;
    cursor:pointer;
    font-weight: bold;
    transition:color,transform 0.4s;
    width: 100%;
}

/* When active link then have underline below */
.Nav-Item.active.pse-ul-theme::before
{
    width:100%;
}

.Nav-Item.active
{
    color:var(--main-theme-text-col);
}

.Nav-Item:hover
{
    color:var(--main-theme-text-col);
    transform:scaleX(1.05);
}

.Menu-Items
{
    width:100%;
}

.Menu-Items,.Nav-Items{
    flex-direction: column;
}

@media screen and (min-width:800px)
{
    nav
    {
        position:fixed;
        display: block;
    }
    .NavBar
    {
        height: fit-content;
    }

    .Logo-Cont img
    {
        margin:0rem;
        width:2.8rem;
    }

    .Menu-Items,.Nav-Items{
        flex-direction: row;
    }
    .Menu-Items
    {
        width: 70%;
        margin-right: 3rem;
    }
    .Nav-Item
    {
        font-size: 1rem;
        margin: 0 0.3rem;
        width: fit-content;
    }
}
