.Light .OurProjects{background-color: white;}
.Dark .OurProjects{background-color: black;}

.Light .Stage-Cont{color:black;}
.Dark .Stage-Cont{color:white;}

.Design-Img
{
    width:80vw;
    border-radius:10px;
    opacity: 1;
    margin:3rem;
}

.Stage-Cont
{
    min-width:40vw;
    background-color:var(--main-theme-bg-col);
    padding:0.8rem;
    margin:0.5rem;
    border-radius:10px;
    transition:0.5s;
    border-style: solid;
    border:2px solid transparent;
}

.Stage-Cont:hover
{
    border-color:inherit;
    transform:scale(1.03);
    border-width:2px;
}

.Stage-Cont .sub-title
{
    letter-spacing:3px;
    font-size:1.5rem;
    margin:0.3rem;
}


