.Light .OurProjects{background-color: white;}
.Dark .OurProjects{background-color: black;}

.Light .Stage-Cont{color:black;}
.Dark .Stage-Cont{color:white;}

.Timeline-Cont
{
    width: 100%;
    margin-bottom:5rem;    
}

.Design-Img
{
    width:80%;
    margin:2rem;
    transition:0.5s;
}

.Design-Img:hover
{
    transform:scale(1.01);
    box-shadow: 0 0 20px 1px var(--main-theme-bg-col);
}

.Stage-Cont
{
    width: 90%;
    background-color:var(--main-theme-bg-col);
    padding:1rem 0;
    margin:0.5rem 0;
    transition:0.5s;
    border:1px solid transparent;
}

.Stage-Cont:hover
{
    border-color:inherit;
    transform:scale(1.03);
}

.Stage-Cont .sub-title
{
    margin:0.3rem;
}

@media screen and (min-width:800px)
{
    .Stage-Cont
    {
        width: 50rem;
    }
}


