.Dark .Partnership{background-color: var(--main-black);}
.Light .Partnership{background-color: var(--main-white);}

.Light .Supp-Desc{color:var(--main-black);}
.Dark .Supp-Desc{color:var(--main-white);}

.Support-List, .Why-Us-List
{
    background-color: rgba(125,125,125,0.25);
    margin:2rem 0;
    width: 90%;
    padding:2rem 1rem;
    text-align: left;
}

.Supp-Item, .Why-Us-Item
{
    width: 100%;
    margin:0.5rem 0rem;
    border-bottom:2px solid red;
    padding:1rem;
}

.Supp-Title-Cont
{
    font-size:1.2rem;
    font-weight:bolder;
}

.Supp-Desc
{
    padding:1rem 0;
}

.Pre-Spon-Cont, .Feat-Cont
{
    flex-wrap:wrap;
    width: 80%;
    background-color:white;
    margin:2rem 0;
}

.Partnership-Img
{
    width:12rem;
    margin:2rem;
    transition:0.5s;
}

.Partnership-Img:hover
{
    transform:scale(1.2);
}

.Partnership .Part-Que
{
    padding:2rem 0.2rem;
    margin:2rem 0rem;
    width: 100vw;
    color:white;
    background-color: var(--main-theme-bg-col);
}

.Part-Que .Que-Text
{
    margin:2rem;
    letter-spacing:0.15rem;
}

.Part-Que .btn
{
    font-size:1.4rem;
    font-weight: bolder;
    margin:1.5rem 0;
    color:inherit;
    padding:1.8rem 3.6rem;
    background-color: rgba(50,50,50,0.9);
}

.Part-Que .btn:hover
{
    color:var(--main-theme-bg-col);
    background-color: var(--main-alt-black);
}

@media screen and (max-width:800px) {
    .Partnership-Img
    {
        width:8rem;
    }

    .Pre-Spon-Cont, .Feat-Cont
    {
        width: 100%;
    }

    .Support-List, .Why-Us-List
    {
        width: 100%;
    }

    .Part-Que .btn
    {
        width: 100%;
    }

    .Part-Que .Que-Btns
    {
        flex-direction: column;
        padding:0 2rem;
    }
}
