
.Mode-Btn
{
    position:fixed;
    top:0.5rem;
    right:0.5rem;
    z-index:1000;
    opacity: 0.7;
    border-radius:8px;
    padding:0.4rem 0.5rem;
    border: none;
}

.Light .Mode-Btn
{
    background-color: black;
}

.Dark .Mode-Btn
{
    background-color: white;
}

.Mode-Btn .Mode-Icon
{
    font-size: 1.2rem;
}

.Mode-Btn:hover
{
    opacity: 1;
}

